[user]
	name = William R. Fraser
	email = wfraser@codewise.org
[alias]
	plog = log --graph --pretty=format:\\\"%C(yellow)%h%x20%C(green)%an%x20%Creset%s\\\"
[push]
	default = current
[pull]
	ff = only
[core]
	excludesfile = /Users/wfraser/.gitignore_global
[dbx]
	messagedisplayversion = 1
[includeIf "hasconfig:remote.*.url:git@github.com:dropbox-internal/*"]
    path = .gitconfig-dbx
