!Xft.dpi: 155
Xft.dpi: 90
Xft.antialias: true
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
Xft.hinting: true
Xft.hintstyle: hintfull

xterm*termName: xterm-256color
XTerm*locale: true
XTerm*metaSendsEscape: true
XTerm*saveLines: 9999
xterm*faceName: xft:Dina:size=9

URxvt.scrollBar: false
URxvt.scrollstyle: plain
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
!URxvt.font: 6x13
#if defined(CLNT_WRFATHENAVM)
    URxvt.font: xft:Inconsolata:size=15
    URxvt.boldFont: xft:Inconsolata:size=15:style=bold
    URxvt.italicFont: xft:Inconsolata:size=15:style=italic
    URxvt.boldItalicFont: xft:Inconsolata:size=15:style=bolditalic
#elif HEIGHT > 1200
! meant for virtual machines on wfraser-mbp main screen, which run at 2560x1600
    Xft.dpi: 155
    URxvt.font: xft:Inconsolata:size=11
    URxvt.boldFont: xft:Inconsolata:size=11:style=bold
    URxvt.italicFont: xft:Inconsolata:size=11:style=italic
    URxvt.boldItalicFont: xft:Inconsolata:size=11:style=bolditalic
#else
    URxvt.font: xft:Dina:size=9
    URxvt.boldFont: xft:Dina:size=9:style=bold
    URxvt.italicFont: xft:Dina:size=9:style=italic
    URxvt.boldItalicFont: xft:Dina:size=9:style=bolditalic
#endif
!URxvt.letterSpace: -1

URxvt*keysym.Home: \033[1~
URxvt*keysym.End: \033[4~

URxvt*background: black
URxvt*foreground: white
URxvt*color0: black
URxvt*color1: red3
URxvt*color2: green3
URxvt*color3: yellow3
URxvt*color4: blue2
URxvt*color5: magenta3
URxvt*color6: cyan3
URxvt*color7: gray90
URxvt*color8: grey50
URxvt*color9: red
URxvt*color10: green
URxvt*color11: yellow
URxvt*color12: blue
URxvt*color13: magenta
URxvt*color14: cyan
URxvt*color15: white
